pymongo
pandas
ensure
pyYAML
python-box
tensorflow==2.15.0
tf-keras==2.15.0
dagshub
mlflow
numpy
dvc
python-dotenv
streamlit
python-multipart
opencv-python-headless==4.8.1.78
streamlit_webrtc
streamlit_autorefresh
evidently
python-dotenv
fastapi
uvicorn
prometheus-client
prometheus-fastapi-instrumentator
-e .